.background {
    background: url('../722c553aff5ee11f5f813bc66a08e4d397495f6d.jpg');
    table-layout: fixed;
    border-spacing: 0;
  }
  .background td {
    padding: 0;
  }
  .lava {
    background: #e25822 ;
  }
  .wall {
    background: white;
  }
  .actor {
    position: absolute;
  }
  .coin {
    background: rgb(241, 229, 89);
    border-radius: 5px;
  }
  .player {
    background: rgb(36, 34, 34);
    /* border-top-left-radius: 10px; */
    /* border-top-right-radius: 10px; */
    border-radius: 10px;
  }
  .lost .player {
    background: #e25822;
  }
  .won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
  }
  .game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
  }